{% extends 'layouts/_default.html.twig' %}

{% block title %}Nouvelle catégorie{% endblock %}

{% block page_title %}Les Catégories{% endblock %}

{% block body_class %}blog{% endblock %}

{% block page_actions %}
    <a href="{{ path('app_blog_category_index') }}">
        <i class="fas fa-box"></i>
        Retour aux catégories
    </a>

    <a href="{{ path('app_blog_post_index') }}">
        <i class="fas fa-biking"></i>
        Retour aux articles
    </a>
{% endblock %}

{% block main %}
    <section>
        <p class="media">
            <img src="{{ asset('assets/img/category/_placeholder.jpg') }}" class="grid-item-media" alt="Nouvelle catégorie" />
        </p>

        {% include 'category/_form.html.twig' with {'mode': 'add'} %}
    </section>
{% endblock %}
