{% extends 'layouts/_default.html.twig' %}

{% block title %}Les Catégories{% endblock %}

{% block page_title %}Les Catégories{% endblock %}

{% block body_class %}blog{% endblock %}

{% block page_actions %}
    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('app_blog_category_add') }}">
            <i class="fas fa-plus-circle"></i>
            Créer une catégorie
        </a>
    {% endif %}

    <a href="{{ path('app_blog_post_index') }}">
        <i class="fas fa-biking"></i>
        Retour aux articles
    </a>
{% endblock %}

{% block main %}
    <section>
        {% include 'category/_grid.html.twig' %}
    </section>
{% endblock %}
