$font-family-primary: "Source Code Pro", "SFMono-Regular", Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

$color-white: white;
$color-black: #222222;
$color-green: green;
$color-red: darkred;
$color-blue: #0056a4;
