{% extends 'layouts/_default.html.twig' %}

{% block title %}Bienvenue{% endblock %}
{% block page_title %}Hello World!{% endblock %}
{% block body_class %}home{% endblock %}

{% block main %}
    <section>
        <h2>Les articles récents</h2>

        {% include 'post/_grid.html.twig' with {'posts': postsRecent} %}
    </section>
{% endblock %}
