.app-header {
    position: sticky;
    top: 0;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 0.5rem;
    background-color: $color-white;

    h1 {
        flex: 1 1 0;
        text-align: center;
    }

    & > a,
    & > .actions {
        flex: 0.25 0.25 0;
        text-decoration: none;
        color: $color-blue;

        &:last-child {
            text-align: right;
        }

        a {
            text-align: left;
            text-decoration: none;
            color: $color-blue;
            transition: color 0.3s;

            &:hover {
                color: $color-green;
            }

            &.login {
                color: $color-green;
            }

            &.logout {
                color: $color-red;
            }
        }

        img {
            display: block;
            height: 2rem;
        }
    }
}
