.app-navigation {
    position: fixed;
    z-index: 9999;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $color-blue;

    @include respond(md) {
        position: initial;
        padding-left: 10vw;
        padding-right: 10vw;
        border-top: 1px solid $color-blue;
        border-bottom: 1px solid $color-blue;
    }

    a {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 1 1 0;
        padding: 0.25rem 0.5rem;
        font-size: 0.75rem;
        text-decoration: none;
        color: $color-white;

        i {
            margin-bottom: 0.25rem;
            font-size: 2rem;
        }

        &.active {
            color: $color-blue;
            background-color: $color-white;
        }
    }
}
