.app-form {
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 1px 1px 2px rgba($color-black, 0.15);

    @include respond(md) {
        margin: 0 25vw;
    }

    .form-group {
        margin-bottom: 1.5rem;

        label {
            display: block;
            margin-bottom: 0.25rem;
            font-family: $font-family-secondary;
            font-weight: bold;
            text-align: center;
            color: $color-blue;
        }

        .form-control {
            box-sizing: border-box;
            padding: 0.5rem 1rem;
            width: 100%;
            font-family: $font-family-primary;
            font-size: 1rem;
            text-align: center;
            border: none;
            box-shadow: inset 1px 1px 8px rgba($color-black, 0.15);
            border-radius: 0.25rem;
        }

        &.checkbox {
            label {
                display: flex;
                align-items: center;
                justify-content: center;

                span {
                    order: 2;
                }

                .form-control {
                    order: 1;
                    margin-right: 0.5rem;
                    width: auto;
                    box-shadow: none;
                }
            }
        }
    }
}

.app-button {
    box-sizing: border-box;
    padding: 0.5rem 1rem;
    width: 100%;
    font-family: $font-family-primary;
    font-size: 0.9rem;
    text-align: center;
    text-decoration: none;
    color: $color-blue;
    border: none;
    box-shadow: 1px 1px 8px rgba($color-black, 0.15);
    border-radius: 0.25rem;
    cursor: pointer;

    &[type="submit"] {
        font-size: 1.25rem;
        color: $color-white;
        background-color: $color-blue;
    }

    &.danger {
        color: $color-white;
        background-color: $color-red;
    }
}
