{% extends 'layouts/_default.html.twig' %}

{% block title %}Le Blog{% endblock %}

{% block page_title %}Le Blog{% endblock %}

{% block body_class %}blog{% endblock %}

{% block page_actions %}
    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('app_blog_post_index') }}">
            <i class="fas fa-plus-circle"></i>
            Créer un article
        </a>
    {% endif %}

    <a href="{{ path('app_blog_category_index') }}">
        <i class="fas fa-box"></i>
        Les catégories
    </a>
{% endblock %}

{% block main %}
    <section>
        {% include 'post/_grid.html.twig' %}
    </section>
{% endblock %}
